# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/

# Java compiled files
*.class

# Build directories
target/
build/
out/

# Logs
*.log

# Eclipse
.project
.classpath
.settings/
.factorypath
.apt_generated/
.springBeans
.sts4-cache/
bin/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# OS files
.DS_Store
Thumbs.db